// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    padding: 0.5rem 1rem;
}

.jumbotron {
    padding: 4rem 2rem;
}

.ml-3 {
    margin-left: 1rem;
}
